<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link href="/stylesheets/signup.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST" class="signup-form">
      <label for="username">Username</label>
      <input
        name="username"
        placeholder="Enter your username"
        type="text"
        required
      />

      <label for="firstname">First Name</label>
      <input
        name="firstname"
        placeholder="Enter your first name"
        type="text"
        required
      />

      <label for="password">Password</label>
      <input
        name="password"
        placeholder="Enter your password"
        type="password"
        required
      />

      <label for="secret">Secret code for admin access</label>
      <input
        name="secret"
        type="number"
        placeholder="Enter secret code"
        required
      />

      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
